{% extends 'base.html' %}

{% block content %}

    {% if artist.albums.all %}
        <div class="grid col-sm-12 col-xs-12 no-padding">
            <!-- add sizing element for columnWidth -->
            <div class="grid-sizer col-sm-6 col-md-4"></div>
            {% for album in artist.albums.all %}
                <div class="col-sm-6 col-md-4 grid-item">
                    <div class="thumbnail">
                        <img src="{{ MEDIA_URL }}{{ album.logo }}" alt="no logo" class="img-responsive">
                        <div class="caption">
                           <h3>Name is: {{ album.title }}</h3>
                            <p>Genre: {{ album.genre }}</p>
                            <p>Released: {{ album.released|date:'d-m-Y' }}</p>
                            <p>
                                <a href="{% url 'song_list' new_url album.generate_url %}" class="btn btn-default" role="button">All songs</a>
                                <a href="{% url 'index' %}" class="btn btn-default" role="button">Back</a>
                           </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
                <p>
                    Unfortunately the artist doesn't have any albums.
                    <a href="{% url 'index' %}">Return to all artists</a>
                </p>
            </div>
        </div>
    {% endif %}

{% endblock content %}
