{% extends 'base.html' %}


{% block content %}

    <form action="." method="get" class="form col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control" name="search" value="{{ request.GET.search }}" placeholder="Search any artist">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Look for...</button>
            </span>
        </div>
    </form>

    <div class="grid col-sm-12 col-xs-12 no-padding">
        <!-- add sizing element for columnWidth -->
        <div class="grid-sizer col-sm-6 col-md-4"></div>
        {% for singer in artists %}
            <div class="col-sm-6 col-md-4 grid-item">
                <div class="thumbnail">
                    <img src="{{ MEDIA_URL }}{{ singer.photo }}" alt="no photo" class="img-responsive">
                    <div class="caption">
                        <h3>{{ singer.name }}</h3>
                        <p>{{ singer.description }}</p>
                        <p>
                            <a href="{% url 'album_list' singer.generate_url %}" class="btn btn-primary" role="button">Albums</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
