{% extends 'base.html' %}


{% block content %}

    {% if album.songs.all %}
        <div class="col-sm-12">
            <a href="{% url 'index' %}" class="btn btn-default">Back to all artists</a>
        </div>
        {% for song in album.songs.all %}
            <div class="col-sm-10 col-xs-12">
                <div class="thumbnail">
                    <div class="caption">
                       <h3>Song is: {{ song.title|lower }}</h3>
                       <audio controls>
                           <!-- <source src="horse.ogg" type="audio/ogg"> -->
                           <source src="{{ MEDIA_URL }}{{ song.music }}" type="audio/mpeg">
                           Your browser does not support the audio element.
                       </audio>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
                <p>
                    Unfortunately the album doesn't have any songs.
                    <a href="{% url 'index' %}">Return to all artists</a>
                </p>
            </div>
        </div>
    {% endif %}

{% endblock content %}
