body {
    /*font-family: '';*/
}

.head {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0 20px;
}

.head p {
    color: #a1b707;
}

.logo {
    display: block;
    max-width: 100px;
    position: absolute;
    right: 25px;
    top: 35px;
}

audio {
    width: 100%;
}

.form {
    margin-bottom: 20px;
}
.no-padding {padding: 0;}

.footer {
    display: inline-block;
    width: 100%;
}

.footer p {
    float: right;
    font-size: 11px;
    color: #a1b707;
}
