<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music</title>

    <link rel="icon" type="image/png" href="{% static 'assets/images/music-ico.png' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'assets/css/audio.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/media.css' %}">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head">
                    <h1>My music portal!</h1>
                    <p>The best artists and songs you find here.</p>
                    <img src="{% static 'assets/images/music-logo.png' %}" class="logo" alt="Logo">
                </div>
            </div>

            {% block content %}{% endblock content %}
        </div>

        <footer class="footer col-sm-12">
            <p>© Copyright 2017 <br> Developed by Nazar Hamuliak.</p>
        </footer>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{% static 'assets/libs/masonry/masonry.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'assets/js/main.js' %}" charset="utf-8"></script>
</body>
</html>
